
 
<%= form_for @orderable,  html: { multipart: true } do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <br />

  <%= f.label :price %>:
  <%= f.text_field :price %>
  <br /> 
  <%= f.label :image %> 
  <%= f.file_field :image %> 
  

  <br />

  <%= f.submit %>
<% end %>